.st-generated-block {

}

.st-generated-block [contenteditable="true"],
.st-generated-block [contenteditable="true"]:focus {
	border: 1px solid #D4D4D4;
	padding: 10px;
	font-size: 15px;
	min-height: 100px;
}

/**
 * Styles up buttons
 */
.st-generated-block .st-button{
	padding: 4px 10px 6px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 5px; 
	margin-bottom: 5px;
}

.st-generated-block .st-button:before {
	font-size: 16px;
	line-height: 1em;
}

.st-generated-block .st-button.st-button--small {
	padding: 2px 5px 3px;
	font-size: 10px;
}

.st-generated-block .st-button.st-button--small:before {
	font-size: 10px;
}

.st-generated-block .st-button.st-button--table {
	display: table;
	margin-top: 5px;
}

.st-generated-block .st-button.st-button--danger,
.st-generated-block .st-button.st-button--remove {
	background-color: #D4161C;
}

.st-generated-block .st-button.st-button--danger:before,
.st-generated-block .st-button.st-button--remove:before {
	content: '× ';
}

.st-generated-block .st-button.st-button--add:before {
	content: '+ ';
}

/**
 * Images
 */
.st-generated-block .st-image-preview {
	max-width: 50%;
	height: auto;
}

/**
 * Selects
 */
.st-generated-block .st-select {
	width: 100%;
}

/**
 * Deals with counters on repeater elements
 */
.st-generated-block .st-element  {
	counter-reset: st-repeater-count;
}

.st-generated-block .st-element.st-element--required label:after {
	content: ' *';
	color: #E94B35;
}

.st-generated-block .st-element .st-repeater .st-repeater-child h3:after {
	counter-increment: st-repeater-count;
	content: counter(st-repeater-count);
}

.st-generated-block .st-element .st-repeater .st-repeater-child .st-element-child.st-element-child--required label:after {
	content: ' *';
	color: #E94B35;
}

.st-generated-block .st-element .st-repeater:first-of-type .st-button.st-button--danger {
	display: none;
}